@page "/blogpost005"

<BlogPostTemplate Title="@Constants.BlogPost005.Title" UrlPart="@Constants.BlogPost005.Href" PageIdentifier="@Constants.BlogPost005.PageIdentifier" >
    <BlogPost>
        <p>1. Add a <a href="https://github.com/altandenter/altandenter.github.io/blob/master/.gitattributes" target="_blank">.gitattributes</a> file to the root your Blazor app with following content: * binary.</p>
        <p>2. Run the command below to add the changes to your GitHub repository.</p>
        <pre><code class="language-html">git add --renormalize .</code></pre>
        <p>3. Commit your changes.</p>
        <pre><code class="language-html">git commit -m &lt;your-commit-message&gt;</code></pre>
        <p>4. Push your changes to your GitHub repository.</p>
        <pre><code class="language-html">git push</code></pre>
        <p>5. Wait a few seconds a navigate to your GitHub Pages web site to check the issue is solved.</p>
    </BlogPost>
</BlogPostTemplate>