@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime

<div id="@elementId" style="height: 350px; width: 350px;"></div>

@code {
    public string elementId = $"map-{Guid.NewGuid().ToString("D")}";
    
    [Parameter] public string CompanyName   { get; set; }
    [Parameter] public string Address   { get; set; }
    [Parameter] public double Latitude  { get; set; }
    [Parameter] public double Longitude  { get; set; }
    [Parameter] public double Zoom { get; set; } = 13;

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        await JSRuntime.InvokeVoidAsync(
            "myAddress.showPopup", elementId, CompanyName, Address, Latitude, Longitude, Zoom);
    }
}
