@page "/blogpost004"
@inject IJSRuntime _jsRuntime

<BlogPostTemplate Title="@Constants.BlogPost004.Title" UrlPart="@Constants.BlogPost004.Href" PageIdentifier="@Constants.BlogPost004.PageIdentifier" >
    <BlogPost>
        <p>1. Navigate to <a href="https://disqus.com/" target="_blank">DISQUS</a> and login or signup.</p>
        <p>2. Click on the GET STARTED button. Choose I want to install Disquss on my site.</p>
        <p>3. Fill in the form Create a new site. Click Create site. </p>
        <p>4. Select a plan. Choose Basic and click Subscribe Now.</p>
        <p>5. In the What platform is your site on? screen. Choose I don't see my platform listed, install manually with Universal Code</p>
        <p>6. Copy all the proposed code snippets. </p>
        <p>7. Create a folder disqus in the wwwroot folder.</p>
        <p>8. Inside the disqus folder add a file and name it disqus.js.</p>
        <p>9. Replace the contents of the diqus.js file with <a href="https://github.com/altandenter/altandenter/blob/master/Pages/Blog/BlogPosts/004/disqusjs.txt" target="_blank">this code</a>. </p>
        <p>10. In the head section of your index.html file add line below.</p>
        <pre><code class="language-html">&lt;script src="disqus/disqus.js"&gt;&lt;/script&gt;</code></pre>
        <p>11. Place the following line of code before your site's closing &lt;/body&gt; tag:</p>
        <pre><code class="language-html">&lt;script  id="dsq-count-scr" src="//&lt;replace-with-the-obtained-disqus-code&gt;.com/count.js" async&gt;&lt;/script&gt;</code></pre>
        <p>12. Create a Disqus.razor component in your Shared folder and copy paste  <a href="https://github.com/altandenter/altandenter/blob/master/Pages/Blog/BlogPosts/004/disqusrazor.txt" target="_blank">this code</a> </p>
        <p>13. Call your the Disqus component from another razor page like this.</p>
        <pre><code class="language-html">&lt;Disqus UrlPart="urlPart" PageIdentifier="yourPageIdentifier"&gt;&lt;/Disqus&gt;</code></pre>
    </BlogPost>
</BlogPostTemplate>

