@page "/blog" 

<p>
    <a class="font-weight-bold" href="blogpost001">How to deploy a Blazor Webassembly App to GitHub Pages?</a>
</p>
<p>
    <a class="font-weight-bold" href="blogpost002">How to automate the deployment of a Blazor Webassembly App to GitHub Pages?</a>
</p>