@page "/counter"
@inject ILanguageContainerService loc

<h1>@loc.Keys["Counter"]</h1>

<p>@loc.Keys["CurrentCount"] @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">@loc.Keys["ClickMe"]</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
