@page "/blogpost002"

<BlogPostTemplate Title="@Constants.Title.BlogPost002" UrlPart="blogpost002" PageIdentifier="002" >
    <BlogPost>
      <p>1. Add a gitpush.bat file to the root of your-username directory with following contents.</p>
      <pre><code class="language-html">
SET CurrentDirectory=%~dp0

FOR %%a IN ("%CurrentDirectory:~0,-1%") DO SET ParentCurrentDirectory=%%~dpa

SET DeploymentFilesDirectory=%CurrentDirectory%build\wwwroot

SET GitHubIoDirectory=%ParentCurrentDirectory%your-username.github.io

dotnet publish --configuration Release --output build

robocopy "%DeploymentFilesDirectory%" "%GitHubIoDirectory%" /e /xf "%DeploymentFilesDirectory%"\index.html

cd %GitHubIoDirectory%

git add .

For /f "tokens=2-4 delims=/ " %%a in ('date /t') do (SET date=%%c-%%a-%%b)
For /f "tokens=1-2 delims=/:" %%a in ("%TIME%") do (SET time=%%a%%b)

git commit -m "commit-%date%-%time%"

git push

cd %CurrentDirectory%

exit /b
</code></pre>

        <p>2. Open a terminal and run the gitpush.bat file.</p>
     
    </BlogPost>
</BlogPostTemplate>


