@page "/blogpost001" 

<BlogPostTemplate Title="How to deploy a Blazor Webassembly App to GitHub Pages?">
    <BlogPost>
      <p>1. Create your your-username.github.io repository on GitHub.</p>
      <p>2. In the repository settings go to the Github Pages section. Choose a Theme. Select Theme and commit changes.</p>
      <p>3. Clone the repository.</p>
      <p>4. Delete the index.md and _config.yml files.</p>
      <p>5. Add an empty .nojekyll file in the root of the repository.</p>
      <p>6. Add a .gitattributes file to the root of the repository with following content: * binary.</p>
      <p>7. Check your dotnet version in a terminal window. Should be greather or equal to 3.1.300.</p>
      <pre><code>dotnet --version</code></pre>
      <p>8. In the parent directory of your-username.github.io directory, run the command below to create a new Blazor WebbAssembly App.</p>
      <pre><code>dotnet new blazorwasm --output your-username --pwa</code></pre>
      <p>9. Change Directory into your-username directory and generate deployment files.</p>
      <pre><code>dotnet publish --configuration Release --output build</code></pre>
      <p>10. Copy the files from the build\wwwroot directory into your-username.github.io directory.</p>
      <p>11. Replace the index.html page with the contents of this <a href="https://github.com/altandenter/altandenter.github.io/blob/master/index.html" target="_blank">index.html</a> file.</p>
      <p>12. Add a <a href="https://github.com/altandenter/altandenter.github.io/blob/master/404.html" target="_blank">404.html Error</a> file.</p>
      <p>13. Stage your changes.</p> 
      <pre><code class="language-java">git add .</code></pre>
      <p>14. Commit your changes.</p> 
      <pre><code>git commit -m "initial-commit"</code></pre>
      <p>15. Push your changes.</p> 
      <pre><code>git push</code></pre>
      <p>16. Open a browser and navigate to <a href="https://altandenter.github.io/">https://your-username.github.io/</a>.</p>
    </BlogPost>
</BlogPostTemplate>