@page "/blogpost004"

<BlogPostTemplate Title="@Constants.Title.BlogPost004">
    <BlogPost>
        <p>1. Navigate to <a href="https://disqus.com/" target="_blank">DISQUS</a> and login or signup.</p>
        <p>2. Click on the GET STARTED button. Choose I want to install Disquss on my site.</p>
        <p>3. Fill in the form Create a new site. Click Create site </p>
        <p>4. Select a plan. Choose Basic and click Subscribe Now.</p>
        <p>5. In the What platform is your site on? screen. Choose I don't see my platform listed, install manually with Universal Code</p>
        <p>6. In your</p>
        
        @* <pre>
            <code>
&lt;link rel="stylesheet" href="leaflet/leaflet.css" /&gt;
&lt;script src="leaflet/myAddress.js"&gt;&lt;/script&gt;
&lt;script src="leaflet/leaflet.js"&gt;&lt;/script&gt; 
            </code> *@ 

    </BlogPost>
</BlogPostTemplate>
